.container {
  margin-bottom: 0.5rem;
  border-radius: 0.75rem;
  border: 1.5px solid black;
}

.middle {
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  background: lightgray;
  border-radius: 0.5rem;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.temp {
  padding: 0.5rem;
  border-top: 1px solid black;
}