.button {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  outline-width: 1px;
  margin-right: 0.5rem;
  //appearance: none;
  //border: none;
}

.spinner {
  animation: spin 1s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}