.inner {
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.content {
  margin: 0 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}