.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  display: flex;
  justify-content: center;
  z-index: 10;
  background: #eee;
  border-radius: 1.75rem;
  border: 2px solid #000;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

}

.contents {

  > input {

  }
}

.btnBox {
  display: flex;
  margin-top: 1rem;
  justify-content: space-around;
  align-items: center;

  > button {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    width: 5rem;
    border: 1px solid #000;

    &:hover {
      transform: scale(1.1, 1.1);
      box-shadow: 0 0.5rem 0.5rem -0.25rem rgba(0, 0, 0, 0.25);
    }
  }

  .confirm {
    background: #7eff00;

  }

  .cancel {
    background: #ffb2cd;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  z-index: 5;
}